.vs/
*/#backups/*
*/Configs/*/*

# haxe
*.yy._
sf.sfdump
temp.dmd

*/extensions/*/*.cpp
*/extensions/*/*.dll
*/datafiles/*.html

*/Debug/
*/Release/
Debug/
Release/

export/gameframe.html
export/gameframe*/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

gameframe/autogen.cpp
gameframe_23/scripts/gameframe/gameframe.gml

*.sdf
help.rtf